{% extends "main/my_posts.html" %}
{% load static %}



{% block new_posts %}
<section class="client_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">
          <div class="heading_container">
            <h2>
              {{category}}
            </h2>
          </div>
          {% for post in paginated_posts %}
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="detail-box">
                  <h4>
                    {{post.user.username}}
                  </h4>
                  <a href="{% url 'main:individual_post' post.id %}" >
                    {{post.title}}
                  </a>
                  <p>
                    {{post.category}}
                  </p>
                  <img src="{% static 'main/images/quote.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock new_posts %}  


















